<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=localhost,1433;Database=courthouse;User ID=sa;Password=@dm1n123;TrustServerCertificate=true;"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="ParentTableName" value="court_case"/>
		<add key="ChildTableName" value="conviction"/>
		<add key="ParentID" value="caseid"/>
		<add key="ChildID" value="convictionid"/>
		<add key="ChildColumns" value="date,penalty,counts"/>
		<add key="SelectParent" value="SELECT * FROM court_case"/>
		<add key="SelectChildren" value ="SELECT * FROM conviction"/>
		<add key="SelectChild" value ="SELECT * FROM conviction WHERE caseid=@caseid"/>
		<add key="AddChild" value="INSERT INTO conviction VALUES (@caseid,@date,@penalty,@counts)"/>
		<add key="RemoveChild" value="DELETE FROM conviction WHERE convictionid=@convictionid"/>
		<add key="UpdateChild" value="UPDATE conviction SET caseid=@caseid, date=@date, penalty=@penalty, counts=@counts where convictionid=@convictionid"/>-->
		
		<add key="parenttablename" value="courtroom"/>
		<add key="childtablename" value="trial"/>
		<add key="parentid" value="roomid"/>
		<add key="childid" value="trialid"/>
		<add key="childcolumns" value="caseid,trial_status,date,time,sentence,remarks"/>
		<add key="selectparent" value="select * from courtroom"/>
		<add key="selectchildren" value ="select * from trial"/>
		<add key="selectchild" value ="select * from trial where roomid=@roomid"/>
		<add key="addchild" value="insert into trial values (@caseid,@roomid,@trial_status,@date,@time,@sentence,@remarks)"/>
		<add key="removechild" value="delete from trial where trialid=@trialid"/>
		<add key="updatechild" value="update trial set caseid=@caseid, roomid=@roomid, trial_status=@trial_status, date=@date, time=@time, sentence=@sentence, remarks=@remarks where trialid=@trialid"/>
	</appSettings>
</configuration>